flows.json
[{"id":"858e5043.4eda2","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"56ebf2c5.fd957c","type":"tab","label":"T Map","disabled":false,"info":""},{"id":"52146f81.363818","type":"tls-config","z":"","name":"SketchAppTLS","cert":"user_cert.pem","key":"user_key.pem","ca":"user_ca.pem","verifyservercert":false},{"id":"79c01ab5.b850bc","type":"mqtt-broker","z":"","broker":"mqtt-sketch","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":""},{"id":"a67d8e67.597fc","type":"inject","z":"56ebf2c5.fd957c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":160,"y":60,"wires":[["df1e6aa0.fbc918"]]},{"id":"3aae5e65.2c1402","type":"debug","z":"56ebf2c5.fd957c","name":"","active":true,"console":"false","complete":"true","x":490,"y":60,"wires":[]},{"id":"aa381ca5.2c818","type":"inject","z":"56ebf2c5.fd957c","name":"","topic":"","payload":"서울시 중구 을지로 65","payloadType":"str","repeat":"","crontab":"","once":false,"x":130,"y":140,"wires":[["850b5493.176fc8"]]},{"id":"ca26c1b8.be3d","type":"debug","z":"56ebf2c5.fd957c","name":"","active":true,"console":"false","complete":"true","x":490,"y":140,"wires":[]},{"id":"1b638601.f3053a","type":"inject","z":"56ebf2c5.fd957c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":160,"y":220,"wires":[["af145e18.9a772"]]},{"id":"33e0e030.2bdad","type":"debug","z":"56ebf2c5.fd957c","name":"","active":true,"console":"false","complete":"true","x":510,"y":220,"wires":[]},{"id":"10b2282e.7a1768","type":"http in","z":"56ebf2c5.fd957c","name":"","url":"/template","method":"get","upload":false,"swaggerDoc":"","x":130,"y":320,"wires":[["ce9919df.5ce438"]]},{"id":"ce9919df.5ce438","type":"function","z":"56ebf2c5.fd957c","name":"payload=서울시 중구 을지로 65","func":"msg.payload = \"서울시 중구 을지로 65\";\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":320,"wires":[["610c325.f46dbcc"]]},{"id":"9aa9bc37.d585a","type":"http response","z":"56ebf2c5.fd957c","name":"","statusCode":"","headers":{},"x":620,"y":400,"wires":[]},{"id":"97b0e08a.c2885","type":"split","z":"56ebf2c5.fd957c","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"topic","x":130,"y":600,"wires":[["3d4b6b42.c78b94"]]},{"id":"43273384.1db94c","type":"join","z":"56ebf2c5.fd957c","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"payload.point","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","x":590,"y":600,"wires":[["665a92c9.c447ec"]]},{"id":"e07d345.29affc8","type":"function","z":"56ebf2c5.fd957c","name":"경로 설정","func":"msg.payload = [\n    {\"point\":\"start\", \"name\":\"SKT타워\", \"addr\":\"서울 중구 을지로 65\"},\n    {\"point\":\"via01\", \"name\":\"경복궁\", \"addr\":\"서울 종로구 세종로 1-91\"},\n    {\"point\":\"via02\", \"name\":\"예술의 전당\", \"addr\":\"서울 서초구 남부순환로 2406\"},\n    {\"point\":\"via03\", \"name\":\"난지한강공원\", \"addr\":\"서울 마포구 상암동 495-72\"},\n    {\"point\":\"end\", \"name\":\"롯데월드\", \"addr\":\"서울 송파구 올림픽로 240\"}\n]\n\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":520,"wires":[["97b0e08a.c2885"]]},{"id":"d5899011.bcbba","type":"function","z":"56ebf2c5.fd957c","name":"좌표 저장","func":"msg.payload.lat = msg.lat;\nmsg.payload.lon = msg.lon;\n\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":600,"wires":[["43273384.1db94c"]]},{"id":"d5cc152d.8f8038","type":"debug","z":"56ebf2c5.fd957c","name":"","active":true,"console":"false","complete":"false","x":640,"y":460,"wires":[]},{"id":"d6f2c59e.bc5548","type":"template","z":"56ebf2c5.fd957c","name":"지도, 경로 그리기","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n<head>\n    <script src=\"https://apis.skplanetx.com/tmap/js?version=1&format=javascript&appKey={{appKey}}\"></script>\n\n<script>\nvar map;\n\nfunction initTmap(){\n    centerLL = new Tmap.LonLat({{payload.start.lat}}, {{payload.start.lon}});\n    map = new Tmap.Map({div:'map_div',\n                        width:'99%', \n                        height:'80%',\n                        transitionEffect:\"resize\",\n                        animation:true\n                    }); \n    searchRoute();\n};\n\nfunction now() {\n    var d = new Date();\n    return '' + d.getFullYear() \n       + (d.getMonth() < 9 ? '0' + (d.getMonth()+1) : (d.getMonth()+1)) \n       + (d.getDate() < 9 ? '0' + (d.getDate()+1) : (d.getDate()+1)) \n       + (d.getHours() < 10 ? '0' + d.getHours() : d.getHours())\n       + (d.getMinutes() < 10 ? '0' + d.getMinutes() : d.getMinutes())\n       + (d.getSeconds() < 10 ? '0' + d.getSeconds() : d.getSeconds());\n}\n\nvar aa = { \n    \"reqCoordType\" : \"EPSG3857\", \n    \"resCoordType\" : \"EPSG3857\", \n    \"startName\" : \"출발\", \n    \"startX\" : \"{{payload.start.lon}}\", \n    \"startY\" : \"{{payload.start.lat}}\", \n    \"startTime\" : now(), \n    \"endName\" : \"도착\", \n    \"endX\" : \"{{payload.end.lon}}\",  \n    \"endY\" : \"{{payload.end.lat}}\", \n    \"viaPoints\" :  \n    [\n        {{#via}}\n        {  \n            \"viaPointId\" : \"{{name}}\", \n            \"viaPointName\" : \"{{name}}\", \n            \"viaX\" : \"{{lon}}\", \n            \"viaY\" : \"{{lat}}\"\n        } {{^last}},{{/last}}\n        {{/via}}\n    ]  \n};\n\n//경로 정보 로드\nfunction searchRoute(){\n    var urlStr = \"https://apis.skplanetx.com/tmap/routes/routeOptimization10?version=1&format=xml&appKey={{appKey}}\";\n    // call api (post)\n    var xhr = new XMLHttpRequest();\n    xhr.open(\"POST\", urlStr, true);\n    xhr.setRequestHeader('Content-Type', 'application/json');\n    xhr.onreadystatechange = function () {\n        if (this.readyState != 4) return;\n    \n        if (this.status == 200) {\n            vectorLayer = new Tmap.Layer.Vector('Tmap Vector Layer');\n            \n            xmlObj = new Tmap.Format.KML({extractStyles:true, extractAttributes:true});\n            vectors = xmlObj.read(this.responseText);\n            \n            vectorLayer.events.register(\"featuresadded\", vectorLayer, onDrawnFeatures);\n            vectorLayer.addFeatures(vectors);\n            map.addLayers([vectorLayer]); \n        }\n    };\n    xhr.send(JSON.stringify(aa));\n    \n}\n\nfunction onDrawnFeatures(e){\n    map.zoomToExtent(this.getDataExtent());\n}            \n\n</script>\n</head>\n<body onload=\"initTmap()\">\n\n<div id=\"map_div\"></div>\n\n</body>\n</html>","output":"str","x":360,"y":680,"wires":[["148654c4.2c761b"]]},{"id":"7e770ecb.eb6e5","type":"http in","z":"56ebf2c5.fd957c","name":"","url":"/route","method":"get","upload":false,"swaggerDoc":"","x":120,"y":520,"wires":[["98aa2800.9065f8"]]},{"id":"148654c4.2c761b","type":"http response","z":"56ebf2c5.fd957c","name":"","statusCode":"","headers":{},"x":530,"y":680,"wires":[]},{"id":"98aa2800.9065f8","type":"function","z":"56ebf2c5.fd957c","name":"appKey 입력","func":"msg.appKey = \"92dc5fcf-aaf0-30fd-951b-1f2a3c732eca\";\n\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":520,"wires":[["e07d345.29affc8"]]},{"id":"665a92c9.c447ec","type":"function","z":"56ebf2c5.fd957c","name":"경유지 list로 묶기","func":"// mustache template - loop를 위한 사전 작업입니다.\n// list 형식으로 만들고, seperator를 위해 마지막 index를 check 합니다.\n\nmsg.via = [];\n\nvar viaKeys = Object.keys(msg.payload).filter(function(k) { return k.startsWith('via') });\n\nviaKeys.forEach(function(key) {\n    msg.via.push(msg.payload[key]);\n})\n\nmsg.via[msg.via.length -1].last = true;\n\nreturn msg;","outputs":1,"noerr":0,"x":160,"y":680,"wires":[["d6f2c59e.bc5548"]]},{"id":"df1e6aa0.fbc918","type":"geoCoding","z":"56ebf2c5.fd957c","name":"","method":"g","appKey":"","fullAddr":"","fullAddrType":"str","city_do":"경상북도","city_doType":"str","gu_gun":"울릉군","gu_gunType":"str","dong":"도동길","dongType":"str","bunji":"143","bunjiType":"str","detailAddress":"","detailAddressType":"str","addressFlag":"F02","lat":"","latType":"str","lon":"","lonType":"str","beforeCoordType":"EPSG3857","afterCoordType":"WGS84GEO","coordType":"WGS84GEO","x":320,"y":60,"wires":[["3aae5e65.2c1402"]]},{"id":"850b5493.176fc8","type":"geoCoding","z":"56ebf2c5.fd957c","name":"","method":"f","appKey":"","fullAddr":"payload","fullAddrType":"msg","city_do":"","city_doType":"str","gu_gun":"","gu_gunType":"str","dong":"","dongType":"str","bunji":"","bunjiType":"str","detailAddress":"","detailAddressType":"str","addressFlag":"F02","lat":"","latType":"str","lon":"","lonType":"str","beforeCoordType":"EPSG3857","afterCoordType":"WGS84GEO","coordType":"EPSG3857","x":320,"y":140,"wires":[["ca26c1b8.be3d"]]},{"id":"3d4b6b42.c78b94","type":"geoCoding","z":"56ebf2c5.fd957c","name":"","method":"f","appKey":"","fullAddr":"payload.addr","fullAddrType":"msg","city_do":"","city_doType":"str","gu_gun":"","gu_gunType":"str","dong":"","dongType":"str","bunji":"","bunjiType":"str","detailAddress":"","detailAddressType":"str","addressFlag":"F02","lat":"","latType":"str","lon":"","lonType":"str","beforeCoordType":"EPSG3857","afterCoordType":"WGS84GEO","coordType":"EPSG3857","x":280,"y":600,"wires":[["d5899011.bcbba"]]},{"id":"af145e18.9a772","type":"addressConverter","z":"56ebf2c5.fd957c","name":"","convert":"NtoO","appKey":"","reqAdd":"경기도 성남시 분당구aa 황새울로 246","reqAddType":"str","coordType":"WGS84GEO","x":340,"y":220,"wires":[["33e0e030.2bdad"]]},{"id":"610c325.f46dbcc","type":"geoCoding","z":"56ebf2c5.fd957c","name":"","method":"f","appKey":"","fullAddr":"payload","fullAddrType":"msg","city_do":"","city_doType":"str","gu_gun":"","gu_gunType":"str","dong":"","dongType":"str","bunji":"","bunjiType":"str","detailAddress":"","detailAddressType":"str","addressFlag":"F02","lat":"","latType":"str","lon":"","lonType":"str","beforeCoordType":"EPSG3857","afterCoordType":"WGS84GEO","coordType":"WGS84GEO","x":270,"y":400,"wires":[["90ca718a.316cb"]]},{"id":"90ca718a.316cb","type":"tmapTemplate","z":"56ebf2c5.fd957c","name":"","appKey":"","lat":"lat","latType":"msg","lon":"lon","lonType":"msg","coordType":"WGS84GEO","x":450,"y":400,"wires":[["9aa9bc37.d585a","d5cc152d.8f8038"]]},{"id":"a74c2531.3829a8","type":"http in","z":"858e5043.4eda2","name":"","url":"hello","method":"get","upload":false,"swaggerDoc":"","x":140,"y":140,"wires":[["35f54dd9.1ddaa2"]]},{"id":"35f54dd9.1ddaa2","type":"function","z":"858e5043.4eda2","name":"Setup payload","func":"msg.payload = \"Hello, SKetch!\";\n\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":140,"wires":[["99dd9732.ca1268"]]},{"id":"79ee3108.8de71","type":"comment","z":"858e5043.4eda2","name":"Hello! My First SKetch, Web Application!","info":"","x":220,"y":100,"wires":[]},{"id":"99dd9732.ca1268","type":"http response","z":"858e5043.4eda2","name":"","statusCode":"","headers":{},"x":510,"y":140,"wires":[]}]
